/* Master Styles */
h1 {
  color: #008080;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Lato, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}