<h3>Añadir medicamento</h3>
<!-- We need some events here -->
<form>
    <!-- We are gonna add a ngModel here -->
    <input type="text">
</form>
<ul class="medicines">
    <!-- Click function it's like ngClick in AngularJS -->
    <!-- Data binding with the css class 'selected'-->
    <li *ngFor="let medicine of medicines"
        (click)="onSelect(medicine)"
        [class.selected]="medicine===selectedMedicine">
        <span class="badge">{{medicine.id}}</span>{{medicine.name}}
    </li>
</ul>